toyrnotus/src/main/app/postorder.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="postorderFlow">
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="89912090-9797-4f7a-9ead-4ed0916a75aa">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	orderLineItems: [{
		toyId: null,
		quantity: null,
		unitPrice: null
	}],
	shippingAddress: {
		fullName: null,
		address1: null,
		city: null,
		province: null,
		postcode: null,
		telephone: null
	},
	shippingCost: null
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[json:]" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from Products;]]></db:parameterized-query>
        </db:insert>
    </flow>
    <flow name="postorderFlow1">
        <set-variable variableName="orderDetails" value="#[json:]" doc:name="Order Details"/>
        <logger message="#[&quot;new order details is &quot;+flowVars.orderDetails]" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into OrderDetails (OrderID, OrderDetail)
value ('3', #[flowVars.orderDetails]);]]></db:parameterized-query>
        </db:insert>
    </flow>
</mule>
